pandas~=3.0.2
numpy~=2.4.4
scikit-learn
matplotlib
streamlit
requests~=2.32.5
beautifulsoup4
transformers
natasha
pymystem3
yfinance~=1.2.2
feedparser
dotenv~=0.9.9
python-dotenv~=1.2.1
tiktoken
sentencepiece